header{
		background-image: url('scale.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		padding: 70px;
		box-sizing: border-box;
		text-align: center;
		font-size: 200px;
		width: 100%
	}
	h2{
		text-align: center;
		font-size: 70px;
		font-family: serif;
		color: pink;
		padding: 20px;
		margin-top: 0;
	}
	h2{
		text-align: center;
		font-size: 80px;
		font-family: sans-serif;
		padding: initial;
		color: blueviolet;
		margin-top: 0;
		text-shadow: 2px 3px yellow
	}

	.span{
		font-style: italic;
		font-size: 50px;
		color: black;
	}
	.previous{
		float: left;
		color: blue;
		font-size: 18px;
		font-style: normal;
	}
	.next{
		color: blue;
		font-size: 18px;
		font-style: normal;
		float: right;
	}

	@media screen and (max-width: 600px), screen and (max-height: 600px){
		header{
			background-image: url('scale.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 100px;
			box-sizing: border-box;
			text-align: center;
			font-size: 400px;
			width: 100%
			}
		}

		